{% extends 'base.html.twig' %}

{% block title %}Новая задача{% endblock %}

{% block body %}
    <a href="{{ path('task_index') }}" class="small">Вернуться к списку задач</a>
    <h1 class="text-success">Создать задачу</h1>

    <div class="row mt-3">
        <div class="col-sm-5">
            {{ include('task/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
